* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color:  firebrick;
    padding: 20px 0;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2.5em;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #ffcc00;
}

.section {
    padding: 40px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(54, 59, 138);
}

ul {
    list-style-type: square;
    margin-left: 20px;

    padding:20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    font-size: 1em;
}


@media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin: 5px 0;
    }
  
    main {
      padding: 10px;
    }
  }
  
  /* Responsif untuk perangkat dengan lebar layar kurang dari 480px (Mobile sangat kecil) */
  @media (max-width: 480px) {
    header h1 {
      font-size: 18px;
    }
  
    nav ul li a {
      font-size: 14px;
      padding: 5px 10px;
    }
  
    footer {
      padding: 5px;
    }
  }
